
table{
	width: 100%;
	border-collapse:collapse;
}

th{
	text-align: left;
	padding: 15px;
	font-family: arial;
	font-size: 15px;
	color: white;
	border-bottom: 2px solid #ddd;
	background-color: black;
}
td{
	padding: 15px;
	border-bottom: 1px solid #ddd;
	background-color: white;
	font-size: 15px;
}


body{
	background-image: url("../IRUDIAK/MosaicoNegro-03.png");
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.erregistroDIV{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	margin: auto;
	width: 350px;
	height: 600px;
	border-radius: 5px;
	margin-top: 100px;
}
.tableIkustezina {
	border: 0px;
	width: 90%;
	margin-left: 5%;
}

.trIkustezina, .tdIkustezina {
	border: 0px;
	text-align: center;
}

.inputKutxak{
	background-color: #D3D3D3;
	border: 1px;
	height: 37.5px;
	border-radius: 3px;
	border-color: white;
	width: 250px;
	display: block;
	margin: auto;
	margin-top: 12.5px;
}
.inputKutxak:focus{
	outline-color: purple;
}

.botoiak{
	background-color: #424242;
	color: white;
	border-radius: 5px;
	width: 250px;
	height: 37.5px;
	text-align: center;
	border-width: 2px;
	border-color: gray;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.botoiak:hover{
	color:white;
	background-color: purple;
}

.linkLogin{
	text-align: center;
}

.testua1{
	margin-top: 12.5px;
}
.testua1 p{
	text-align: center;
	font-size: 18px;
	color: black;
	font-family: monospace;
}

.logo img{
	width: 170px;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 30px;
}
#izenaDiv{
	background-color: yellow;
}

.linkLoginDiv{
	width: 250px;
	margin: auto;
}

.linkLoginDiv p{
	text-align: center;
	font-size: 9px;
}

.oharrak{
	display: block;
	margin: auto;
	width: 250px;
}

.oharrak p{
	text-align: left;
	font-size: 9px;
	color: red;
}

.oharrak2{
	display: block;
	margin: auto;
	width: 250px;
}

.oharrak2 p{
	text-align: center;
	font-size: 9px;
	color: red;
}

/******************************************HASIERAKO ORRIALDEA****************************************************/
.header{
	height: 90px;
}
.logoDIV{
		height: 90px;
		display: block;
		background-color: white;
		top:0;
}

.logoDIV img{
	display: block;
	height: 60px;
	width: auto;
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin: auto;
	padding: 15px;
}

.menuDIV{
	height: 30px;
	background-color: green;
	display: block;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

ul#menu li {
  display: inline-block;
}

ul#menu li a {
  display: block;
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 12px;
  padding: 20px;
  text-decoration: none;
}

ul#menu li a:hover {
  background-color: white;
  color: black;
}

.zerrenda{
	width: 1000px;
	height: 400px;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 40px;
}

.taula{
	overflow: auto;
	height: 100%;
	border-radius: 5px;
}

.fondo{
 	height: 1080px;
	background-image: url("../IRUDIAK/best-friends-blond-hair-bonding-1574650.jpg");
	background-size: cover;
	background-attachment: fixed;
 	width: 100%;
 	right: 0;
 	left: 0;
}

.hasieraBotoiak{
	border-radius: 10px;
	border: none;	
	margin-right: 5px;
}

.hasieraBotoiak:hover{
	color: white;
	background-color: purple;
}

.iragazketaBotoiak{
	border: none;	
	height: 35px;
	margin: none;
}

.iragazketaBotoiak:hover{
	color: white;
	background-color: purple;
}

.iragazketaInput{
	height: 33px;
	width: 400px;
	border: none;
	background-color: #F5F5F5;
	display: block;
	margin: none;
	float: left;
}

.bilaketa{
	width: 100%;
	margin: auto;
	background-color: #ddd;
	margin-top: 15px;
	height: 35px;
	display: block;
	border-bottom: 2px solid gray;
}

.bilaketaWrapper{
	width: 600px;
	display: block;
	margin: auto;
	height: 35px;
}

.ekitaldiBerria{
	margin-top: 10px;
}
.ekitaldiBerria h2{
	text-align: center;
	font-family: arial;
}

.ekitaldiBerriaWrapper{
	width: 400px;
	display: block;
	margin: auto;
}

.sortuBotoia{
	border: none;	
	margin-right: 5px;
	height: 40px;
	width: 400px;
	margin-top: 10px;
}

.sortuBotoia:hover{
	color: white;
	background-color: purple;
}

.formu{
	display: inline-block;
}

.profila{
	background-color: white;
	height: 300px; 
	width: 40%;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	margin-top: 200px;
	font-family: sans-serif;
	border-radius: 5px;
}

.profilaDatuak{
	display: block;
	width: 95%;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.profilaDatuak h2{
	text-align: center;
}

.profilaInput{
	border: none;
	border-radius: 10px;
	background-color: #696969;
}